<%- include('header') -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, cum! At nesciunt iste, nisi dolore a eligendi quas maiores, impedit sunt, error deserunt.
     Dolorem culpa atque veritatis officiis omnis Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ullam hic impedit facere sint aliquid dolore exercitationem nemo adipisci consequatur labore debitis delectus
      corporis eligendi quaerat, illum dolorem est mollitia?</p>

      <%- include('footer') -%>
